# Betriebssystem-Dateien
.DS_Store

# Entwicklungsumgebungen (falls jemand anderes mitarbeitet)
.vscode/
.idea/

# Abhängigkeiten
/node_modules/

# Konfigurationsdateien
.env

# Temporäre Dateien
*.log

# Sicherungsdateien
*.bak
*.swp
*~

# Test Coverage
/tests/coverage/
.phpunit.result.cache

# Intern
ideas.md