.email-status-list[data-v-36b9e896]{margin:var(--spacing-2) 0}.email-status-list li[data-v-36b9e896]{display:flex;color:var(--color-gray-800);flex-direction:row;align-items:center;gap:var(--spacing-2);padding:var(--spacing-1) 0}
